SECRET_KEY=secret_key
DEBUG=True

DB_NAME=online_school
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

STRIPE_API_KEY=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=